* {
    margin: 0 ; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.header {
    font-family: arial;
    font-size: 10PX;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(27, 27, 27, 0.9);
}

.header li {
    float: left;
    flex: 1;
}

.header li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
    background-color: rgba(27, 27, 27, 0.9);
}

.header li a:hover {
    background-color: white;
    color: black;
    border: 2px;
    border-radius: 10px;
}

.image-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 400px;
}

.image-container1 {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 400px;
}

h2 {
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 40px;
    font-weight: normal;
    font-family: cursive;
}

h3 {
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 25px;
    font-weight: normal;
    font-family: cursive;
}

p {
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 15px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -20px;
}

footer {
    color: white;
    text-align: center;
    padding: 8px;
    font-size: 10px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(27, 27, 27, 0.9);
}

@media screen and (max-width: 768px) {
    .image-container1 img {
        width: 70%;
        height: 30%;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    footer {
        font-size: 6px;
    }}

@media screen and (max-width: 768px) {
    p {
        font-size: 9px;
    }
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 25px;
        margin-top: -25%;
    }
}

@media screen and (max-width: 768px) {
    h3 {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .image-container img{
        width: 60%;
        height: 80%;
    }
}

@media screen and (max-width: 768px) {
    #audio {
        width: 70%;
    }
}










